{% extends 'base.html' %}
{% block pagetitle %} Home Page {% endblock pagetitle %}
{% block content %}
{% include 'navbar.html' %}
<section class="container mt-5" style="background-color: white;">
    <div class="text-center">
        <h2 class="p-3" style="color: rgb(19, 93, 196);">
            List of Students !
        </h2>
    </div>
    <hr>
    <div class="p-2">
        {% for student in students_data %}
        <div class="card mt-3">
            <div class="card-header">
                {{student.roll_no}} | {{ student.mobile_no }} | {{ student.email }}
                {% if request.user.is_authenticated %}
                <a href="{% url 'student_details' student.id %}" class="btn btn-primary float-end">See More..</a>
                {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{student.name}} | {{student.age}}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}