{% extends 'base.html' %}
{% block pagetitle %} Home Page {% endblock pagetitle %}
{% block content %}
{% include 'navbar.html' %}
{% load static %}
<section style="
background-image: url('{% static 'img/background.jpg' %}');
background-size: cover;
margin: 0;
padding: 0;
background-position: center;
min-height: 110vh;">

    <h1 class="home-heading"> School Management System </h1>
</section>

{% endblock %}
















<!--<h1 class="name">Mukund</h1>-->
<!--<h2>Mukund</h2>-->
<!--<h3>Mukund</h3>-->
<!--<h4>Mukund</h4>-->
<!--<h5>Mukund</h5>-->
<!--<h6>Mukund</h6>-->
<!--<div class="main-container">-->
<!--    <div class="container">-->
<!--        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem praesentium saepe suscipit omnis accusantium ex-->
<!--        laboriosam maxime tempora, aliquam soluta. Quasi sapiente rerum nostrum alias? Minima vitae at sunt harum?-->
<!--    </div>-->

<!--</div>-->

<!--<p>Good Morning, We are here to learn HTML Css and we are writing a HTML code</p>-->
<!--alt+shift+f-->
<!--<p>-->
<!--    <strong>Mukund</strong> <i>Lorem</i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti tempore-->
<!--    labore molestiae voluptas harum-->
<!--    adipisci animi quos illum eum voluptatem, rerum culpa aperiam saepe dignissimos atque laudantium vel-->
<!--    reprehenderit velit! &nbsp; &nbsp; &gt; &copy; &#128526; &#128513; &#128526;-->


<!--<blockquote cite="www.techamplifiers.com">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quidem-->
<!--    eaque, minus sapiente non-->
<!--    quisquam recusandae ipsam expedita cum corporis voluptatibus? Vitae saepe ab dignissimos ducimus hic magni-->
<!--    distinctio pariatur?-->
<!--</blockquote>-->
<!--<h1>Mukund</h1>-->
<!--</p>-->
<!--<input type="text" id="Tech">-->
<!--<div>Hello We are TechAmplifiers</div>-->
<!--<div>HI I am Learning HTML</div>-->


<!--&lt;!&ndash; Inline CSS &ndash;&gt;-->
<!--&lt;!&ndash; Internal CSS &ndash;&gt;-->
<!--&lt;!&ndash; External CSS &ndash;&gt;-->
<!--<br>-->
<!--<br>-->
<!--<table border="1">-->
<!--    <tr>-->
<!--        <th>Name</th>-->
<!--        <th colspan="2">Roll No</th>-->
<!--    </tr>-->
<!--    <tr>-->

<!--        <td>Mukund <input type="checkbox"/>-->
<!--        </td>-->
<!--        <td>1sdfsfsdfsdfsfsdfsf</td>-->


<!--        <td>Tejas</td>-->

<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Arti</td>-->
<!--        <td>3</td>-->
<!--    </tr>-->

<!--</table>-->


<!--<ol>-->
<!--    first-->
<!--</ol>-->
<!--<ol>-->
<!--    <li>-->
<!--        mukund-->
<!--    </li>-->
<!--    <li>-->
<!--        Tejas-->
<!--    </li>-->
<!--    <li>-->
<!--        Tejas-->
<!--    </li>-->
<!--    <li>-->
<!--        Tejas-->
<!--    </li>-->
<!--    <li>-->
<!--        <a href="https://web.techamplifiers.com/"> Tejas</a>-->
<!--    </li>-->
<!--</ol>-->
<!--<ul>-->
<!--    <li>-->
<!--        second-->
<!--    </li>-->
<!--    <li>-->
<!--        Tejas-->
<!--    </li>-->
<!--    <li>-->
<!--        Tejas-->
<!--    </li>-->
<!--    <li>-->
<!--        <a href="https://web.techamplifiers.com/"> Tejas</a>-->
<!--    </li>-->
<!--</ul>-->


<!--<hr>-->

<!--<img src="https://media.istockphoto.com/id/1146517111/photo/taj-mahal-mausoleum-in-agra.jpg?s=612x612&w=0&k=20&c=vcIjhwUrNyjoKbGbAQ5sOcEzDUgOfCsm9ySmJ8gNeRk="-->
<!--     width="400px" alt="Taj Mahal">-->
<!--<br>-->
<!--<hr>-->
<!--<br>-->
<!--<audio controls>-->
<!--    <source src="TokyoDrift.mp3" type="audio/mpeg">-->
<!--</audio>-->
<!--<br>-->
<!--<br>-->
<!--<hr>-->
<!--<br>-->

<!--<br>-->
<!--<video controls height="500px" src="figma.mp4" type="video/mp4"></video>-->
<!--<hr>-->
<!--<br>-->
<!--YouTube Video-->
<!--<br>-->
<!--<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/m9OwZ09ohaM"-->
<!--        title="YouTube video player" frameborder="0"-->
<!--        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"-->
<!--        allowfullscreen></iframe>-->
<!--<hr>-->
<!--<marquee behavior="" direction="left">Mukund</marquee>-->
<!--<hr>-->
<!--<br><br>-->
</body>

</html>